<% @posts.each do |post| %>
  <div class="col-md-4 col-sm-6 col-xs-12 post-index">
    <div class="post-image">
      <div class="image-info-top">
        <span class="pull-left"><%= post.title %></span>
      </div>

      <a href="/posts/<%= post.id %>">
        <img class="fit-img" src="<%= post.image.rectangle %>" alt="">
      </a>
      <div class="image-info-btm">
        <span class="pull-left"><%= post.user.username %></span>
        <span class="pull-right">
          <i class="fa fa-heart like"></i>
          <span class="likes-count"><%= post.likes.count %></span>
        </span>
      </div>
    </div>
  </div>
<% end %>
