<article class="post clearfix" data-post-id="<%= @post.id %>">

  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-8">
        <h4><%= @post.title %></h4>
      </div>
      <div class="col-xs-4">
        <% if logged_in? && current_user.id == @post.user.id %>
          <%= form_tag "/posts/#{ @post.id }", method: 'delete', class: 'pull-right' do %>
            <button class="btn btn-danger"><i class="fa fa-lg fa-trash"></i></button>
          <% end %>

          <a class="pull-right" href="/posts/<%= @post.id %>/edit">
            <button class="btn btn-default"><i class="fa fa-lg fa-edit"></i></button>
          </a>
        <% end %>
      </div>
    </div>

    <img class="fit-img" src="<%= @post.image.large %>" alt="">

    <div class="row">
      <div class="col-xs-10">
        <h4><%= @post.user.username %></h4>
        <p><%= @post.description %></p>
      </div>
      <div class="col-xs-2 text-right">
        <h4>
          <i class="fa fa-heart like"></i>
          <span class="likes-count"><%= @post.likes.count %></span>
        </h4>
      </div>
    </div>

  </div>

  <div class="col-md-4 comments">
    <h4>Comments</h4>
    <%= form_tag '/comments', method: 'post', remote: true do %>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <div class="form-group">
        <label class="sr-only" for="post-context">Comment</label>
        <div class="input-group">
          <input type="text" class="form-control context" name="context" id="post-context" required>
          <span class="input-group-btn">
            <button class="btn btn-success">Post</button>
          </span>
        </div>
      </div>
    <% end %>

    <ul class="comments-ul list-unstyled">
      <% @comments.each do |comment| %>
      <li><%= comment.user.username %> <span><%= comment.context %></span></li>
      <% end %>
    </ul>
  </div>

</article>
