<div class="col-md-8 post" data-post-id="<%= @post.id %>">
  <img class="fit-img" src="<%= @post.image.large %>" alt="">

  <a href="/posts/<%= @post.id %>/edit"><button class="btn btn-default">Edit</button></a>

  <%= form_tag "/posts/#{ @post.id }", method: 'delete' do %>
    <button class="btn btn-danger">Delete</button>
  <% end %>

  <i class="fa fa-heart like"></i>
  <span class="likes-count"><%= @post.likes.count %></span>

  <%= form_tag '/comments', method: 'post', remote: true do %>
    <input type="hidden" name="post_id" value="<%= @post.id %>">
    <div class="form-group">
      <label class="control-label" for="post-context">Comment</label>
      <textarea type="text" rows="2" class="form-control context" name="context" id="post-context" required></textarea>
    </div>

    <button class="btn btn-success form-control">Post Comment</button>
  <% end %>

  <ul class="comments">
    <% @comments.each do |comment| %>
      <li><%= comment.user.username %> <span><%= comment.context %></span></li>
    <% end %>
  </ul>
</div>
